## Video 3.2 - Essential Operations with Data Frames

In [2]:
import pandas as pd

### Loading data from files

In [3]:
%cat data.csv

ERROR:root:Line magic function `%cat` not found.

In [4]:
data = pd.read_csv('data.csv')
data

      NAME  AGE LANGUAGE
0    Alice   30  English
1      Bob   25  Spanish
2  Charlie   35   French

In [5]:
%cat movie.json

ERROR:root:Line magic function `%cat` not found.

In [6]:
data = pd.read_json('movie.json')
data

                 actors       title  watched  year
0             Brad Pitt  Fight Club     True  1999
1         Edward Norton  Fight Club     True  1999
2  Helena Bonham Carter  Fight Club     True  1999

In [7]:
%cat movies-90s.jsonl

ERROR:root:Line magic function `%cat` not found.

In [8]:
data = pd.read_json('movies-90s.jsonl', lines=True)
data

,actors,title,watched,year
0,"[Brad Pitt, Edward Norton, Helena Bonham Carter]",Fight Club,True,1999
1,"[Robert De Niro, Ray Liotta, Joe Pesci]",Goodfellas,True,1990
2,"[Tom Hanks, Robin Wright]",Forrest Gump,True,1994

### Reindexing

Reindexing is the process of creating a new object with the data conformed to a new index

In [ ]:
data = pd.Series([3, 1, 2], index=['b', 'a', 'd'])
data

In [ ]:
new_data = data.reindex(['a', 'b', 'c', 'd'])
new_data

### Applying a function

In [ ]:
data = pd.DataFrame([[4, 36, 1], [9, 25, 16]],
                    columns=['A', 'B', 'C'],
                    index=['Red', 'Blue'])
data

In [ ]:
import numpy as np

np.sqrt(data)

In [ ]:
def double_up(x):
    return x * 2

data.applymap(double_up)

In [ ]:
data

In [ ]:
def difference(x):
    return x.max() - x.min()

data.apply(difference)

In [ ]:
data.apply(difference, axis=1)

### Sorting

In [ ]:
data

In [ ]:
data.sort_index()  # sort by row labels, ascending

In [ ]:
data.sort_index(axis=1,           # sort by column labels
                ascending=False)  # descending

In [ ]:
data

In [ ]:
data.sort_values(by='B')

In [ ]:
data.sort_values(by='Blue', axis=1)

### Handling missing data

In [ ]:
data = pd.Series([1, 2, np.nan, 3, np.nan])

data

In [ ]:
data == None

In [ ]:
data.isnull()

In [ ]:
data.notnull()

#### Filtering out missing data

In [ ]:
data.dropna()

In [ ]:
data[data.notnull()]

#### Filling in missing data

In [ ]:
data.fillna(0)

In [ ]:
data.fillna(data.mean())

In [ ]:
data.fillna({2: 100, 4: 500})

#### Notice

All the functions discussed here return a *new* pandas object

If we need to change the object in place, we need `inplace=True`