## Video 1.4 Dates and Times

Dates and times can be tricky because there are many ways to represent them.

In this video, we'll discuss `datetime` and `time` objects.

### datetime objects

In [1]:
"2017-02-01" == "01/02/2017"

False

In [2]:
from datetime import datetime

some_day = datetime(2017, 2, 1, 16, 30, 0)
some_day

datetime.datetime(2017, 2, 1, 16, 30)

In [3]:
some_day.strftime("%Y-%m-%d %H:%M:%S")

'2017-02-01 16:30:00'

In [4]:
d1 = datetime.strptime("2017-02-01", "%Y-%m-%d")
d2 = datetime.strptime("01/02/2017", "%d/%m/%Y")

d1 == d2

True

Recap:
    
- `strftime()` for object-to-string
- `strptime()` for string-to-object

In [5]:
# Timezone name
some_day.strftime("%Z")

''

In [6]:
# UTC offset
some_day.strftime("%z")

''

In [7]:
some_day.year, some_day.month, some_day.day

(2017, 2, 1)

In [8]:
some_day.hour, some_day.minute, some_day.second, some_day.microsecond

(16, 30, 0, 0)

In [9]:
some_day.tzinfo

### More on time zones

Naive datetime objects don't consider time zones

Aware datetime objects do consider time zones

In [10]:
from datetime import tzinfo, timedelta

class UTC0(tzinfo):
    def utcoffset(self, dt):
        return timedelta(hours=0)
    def dst(self, dt):
        return timedelta(0)
    def tzname(self,dt):
        return "Europe/London"
    
class GMT1(tzinfo):
    def utcoffset(self, dt):
        return timedelta(hours=1)
    def dst(self, dt):
        return timedelta(0)
    def tzname(self,dt):
        return "Europe/Amsterdam"
    
some_day = datetime(2017, 2, 1, 16, 30, 0, tzinfo=GMT1())
another_day = datetime(2017, 2, 1, 15, 30, 0, tzinfo=UTC0())

some_day == another_day

True

In [11]:
some_day.isoformat()

'2017-02-01T16:30:00+01:00'

### Operations on Dates

`timedelta` objects represents durations of time.

This allows to perform arithmetic on dates.

In [12]:
from datetime import timedelta

new_day = some_day + timedelta(days=1)

In [13]:
some_day.strftime("%Y-%m-%d")

'2017-02-01'

In [14]:
new_day.strftime("%Y-%m-%d")

'2017-02-02'

In [15]:
some_day > new_day

False

### Simple time objects

`time.time()` objects represent a time of the day, independent from any particular day

In [16]:
from time import time

t0 = time()
for x in range(1000000):
    a = x
t1 = time()

t1 - t0

0.1269998550415039